[Unit]
Description = Marketing data web application
After = network.target

[Service]
Type = simple
WorkingDirectory = /root/bryan_party
ExecStart = /root/bryan_party/venv/bin/python3 /root/bryan_party/run_web.py
User = root
Group = root
Restart = on-failure
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
