{% extends "message.html" %}

{% block panel %}
    <div class="level"></div>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block message_header %}
    <span class="icon-text">
        <span class="icon">
            <ion-icon size="large" name="add-circle-outline"></ion-icon>
        </span>
        <span class="ml-2">Add rule for Campaign</span>
    </span>
{% endblock %}

{% block message_body %}
    <form method="post">
        <div class="columns">
            <div class="column">
                <div class="level-right">
                    <div class="level-item">
                        <span class="title is-5">If <span class="has-text-link">campaign</span> with name</span>
                    </div>

                    <div class="level-item p-3">
                        <div class="field">
                            <div class="field">
                                <div class="control">
                                    <input id="name_input" name="name" class="input" type="text" placeholder="name"
                                           required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label class="checkbox is-pulled-right pt-2">
                        <input type="checkbox" id="all_checkbox" onclick="disableInput()">
                        All names
                    </label>
                </div>

                <div class="level-right" id="hidden_div_1">
                    <div class="level-item">
                        <p class="title is-5">has</p>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select name="param1">
                                        <option selected disabled>field</option>
                                        <option value="profit">Profit</option>
                                        <option value="clicks">Clicks</option>
                                        <option value="binom_clicks">Binom clicks</option>
                                        <option value="impressions">Impressions</option>
                                        <option value="lp_clicks">LP clicks</option>
                                        <option value="ctr">CTR</option>
                                        <option value="lp_ctr">LP CTR</option>
                                        <option value="leads">Leads</option>
                                        <option value="cost">Cost</option>
                                        <option value="revenue">Revenue</option>
                                        <option value="profit">Profit</option>
                                        <option value="roi">ROI</option>
                                        <option value="payout">Payout</option>
                                        <option value="cpc">CPC</option>
                                        <option value="cpm">CPM</option>
                                        <option value="epc">EPC</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select name="sign1">
                                        <option selected disabled>operator</option>
                                        <option value=">">></option>
                                        <option value="<"><</option>
                                        <option value="<="><=</option>
                                        <option value=">=">>=</option>
                                        <option value="==">==</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="field">
                                <div class="control">
                                    <input name="value1" class="input" type="number" step="0.01"
                                           placeholder="value" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="level-right" id="hidden_div_2">
                    <div class="level-item">
                        <p class="title is-5">has</p>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select name="param2">
                                        <option selected disabled>field</option>
                                        <option value="profit">Profit</option>
                                        <option value="clicks">Clicks</option>
                                        <option value="binom_clicks">Binom clicks</option>
                                        <option value="impressions">Impressions</option>
                                        <option value="lp_clicks">LP clicks</option>
                                        <option value="ctr">CTR</option>
                                        <option value="lp_ctr">LP CTR</option>
                                        <option value="leads">Leads</option>
                                        <option value="cost">Cost</option>
                                        <option value="revenue">Revenue</option>
                                        <option value="profit">Profit</option>
                                        <option value="roi">ROI</option>
                                        <option value="payout">Payout</option>
                                        <option value="cpc">CPC</option>
                                        <option value="cpm">CPM</option>
                                        <option value="epc">EPC</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select name="sign2">
                                        <option selected disabled>operator</option>
                                        <option value=">">></option>
                                        <option value="<"><</option>
                                        <option value="<="><=</option>
                                        <option value=">=">>=</option>
                                        <option value="==">==</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="field">
                                <div class="control">
                                    <input name="value2" class="input" type="number" step="0.01"
                                           value="" placeholder="value">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="level-right" id="hidden_div_3">
                    <div class="level-item">
                        <p class="title is-5">has</p>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select name="param3">
                                        <option selected disabled>field</option>
                                        <option value="profit">Profit</option>
                                        <option value="clicks">Clicks</option>
                                        <option value="binom_clicks">Binom clicks</option>
                                        <option value="impressions">Impressions</option>
                                        <option value="lp_clicks">LP clicks</option>
                                        <option value="ctr">CTR</option>
                                        <option value="lp_ctr">LP CTR</option>
                                        <option value="leads">Leads</option>
                                        <option value="cost">Cost</option>
                                        <option value="revenue">Revenue</option>
                                        <option value="profit">Profit</option>
                                        <option value="roi">ROI</option>
                                        <option value="payout">Payout</option>
                                        <option value="cpc">CPC</option>
                                        <option value="cpm">CPM</option>
                                        <option value="epc">EPC</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select name="sign3">
                                        <option selected disabled>operator</option>
                                        <option value=">">></option>
                                        <option value="<"><</option>
                                        <option value="<="><=</option>
                                        <option value=">=">>=</option>
                                        <option value="==">==</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="field">
                                <div class="control">
                                    <input name="value3" class="input" type="number" step="0.01"
                                           placeholder="value">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="level-right" id="hidden_div_4">
                    <div class="level-item">
                        <p class="title is-5">has</p>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select name="param4">
                                        <option selected disabled>field</option>
                                        <option value="profit">Profit</option>
                                        <option value="clicks">Clicks</option>
                                        <option value="binom_clicks">Binom clicks</option>
                                        <option value="impressions">Impressions</option>
                                        <option value="lp_clicks">LP clicks</option>
                                        <option value="ctr">CTR</option>
                                        <option value="lp_ctr">LP CTR</option>
                                        <option value="leads">Leads</option>
                                        <option value="cost">Cost</option>
                                        <option value="revenue">Revenue</option>
                                        <option value="profit">Profit</option>
                                        <option value="roi">ROI</option>
                                        <option value="payout">Payout</option>
                                        <option value="cpc">CPC</option>
                                        <option value="cpm">CPM</option>
                                        <option value="epc">EPC</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select name="sign4">
                                        <option selected disabled>operator</option>
                                        <option value=">">></option>
                                        <option value="<"><</option>
                                        <option value="<="><=</option>
                                        <option value=">=">>=</option>
                                        <option value="==">==</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="field">
                                <div class="control">
                                    <input name="value4" class="input" type="number" step="0.01"
                                           placeholder="value">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="level-right">
                    <div class="level-item">
                        <span class="title is-5">for last</span>
                    </div>

                    <div class="level-item p-3">
                        <div class="field">
                            <div class="field">
                                <div class="control">
                                    <input name="days" class="input" type="number" step="1" min="1" max="30"
                                           placeholder="days" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="level-right">
                    <div class="level-item">
                        <p class="title is-5">then</p>
                    </div>
                    <div class="level-item p-3">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select name="action">
                                        <option value="pause">pause</option>
                                        <option value="resume">resume</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="level"></div>
                <div class="level"></div>
                <div class="field pl-6 ml-6">
                    <label class="label">Select number of conditions</label>
                    <div class="control">
                        <div class="select">
                            <select onchange="showDiv(this)" name="conditions">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr/>
        <div class="field has-text-centered">
            <div class="control">
                <input class="button is-link" type="submit" value="Save"/>
            </div>
        </div>

        <script>
            function disableInput() {
                var cb = document.getElementById('all_checkbox').checked;
                document.getElementById('name_input').disabled = cb;
                document.getElementById('name_input').value = '';
            }

            function showDiv(element) {
                switch (element.value) {
                    case "1":
                        document.getElementById('hidden_div_1').style.display = 'flex';
                        document.getElementById('hidden_div_2').style.display = 'none';
                        document.getElementById('hidden_div_3').style.display = 'none';
                        document.getElementById('hidden_div_4').style.display = 'none';
                        break;
                    case "2":
                        document.getElementById('hidden_div_1').style.display = 'flex';
                        document.getElementById('hidden_div_2').style.display = 'flex';
                        document.getElementById('hidden_div_3').style.display = 'none';
                        document.getElementById('hidden_div_4').style.display = 'none';
                        break;
                    case "3":
                        document.getElementById('hidden_div_1').style.display = 'flex';
                        document.getElementById('hidden_div_2').style.display = 'flex';
                        document.getElementById('hidden_div_3').style.display = 'flex';
                        document.getElementById('hidden_div_4').style.display = 'none';
                        break;
                    case "4":
                        document.getElementById('hidden_div_1').style.display = 'flex';
                        document.getElementById('hidden_div_2').style.display = 'flex';
                        document.getElementById('hidden_div_3').style.display = 'flex';
                        document.getElementById('hidden_div_4').style.display = 'flex';
                        break;
                }
            }

        </script>
    </form>
{% endblock %}

{% block side_menu %}
    <div class="box">
        <aside class="menu">
            <div class="block">
                <div class="level-left">
                    <span class="icon-text">
                        <span class="icon">
                            <ion-icon class="has-text-link" size="large"
                              name="cog-outline"></ion-icon>
                        </span>
                        <span class="subtitle ml-2">Rules Control</span>
                    </span>
                </div>
                <hr/>

                <p class="heading is-size-6 has-text-centered">Add rule</p>

                <hr/>
                <a href="{{ url_for('campaigns_rules') }}" class="navbar-item title is-6 m-0">
                    <span class="icon-text">
                        <span class="icon">
                            <ion-icon size="large" name="list-outline"></ion-icon>
                        </span>
                        <span class="ml-2">Rules List</span>
                    </span>
                </a>
            </div>
        </aside>
    </div>
{% endblock %}


