{% extends "message.html" %}

{% block panel %}
    <div class="level"></div>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block message_header %}
    <span class="icon-text">
        <span class="icon">
            <ion-icon size="large" name="list-outline"></ion-icon>
        </span>
        <span class="ml-2">Campaigns Rules List</span>
    </span>
{% endblock %}

{% block message_body %}
    <div class="container">
        {% if rules %}
            {% for rule in rules %}
                <div class="box block subtitle is-6">
                    <div class="columns">
                        <div class="column is-2">
                            <span class="tag is-medium is-black">
                                Rule ID: {{ rule.rule_id }}
                            </span>
                        </div>
                        <div class="column is-7 has-text-right">
                            <span>
                                If
                                <span class="has-text-link">campaign</span>
                                with name
                                <span class="tag is-medium is-link is-rounded m-1">
                                    <strong>{{ rule.campaign_name }}</strong>
                                </span>
                                from
                                <span class="tag is-medium is-warning is-rounded m-1">
                                    {{ rule.ts.name }}
                                    (<strong>ID:{{ rule.ts.binom_ts_id }}</strong>)
                                </span>
                                from
                                <span class="tag is-medium is-warning is-rounded m-1">
                                    {{ rule.ts.binom.name }}
                                </span>
                            </span>
                            <p class="mt-3">
                                has
                                {% for i in range(rule.conditions) %}
                                    <span class="tag is-primary is-light is-medium is-rounded m-1">
                                        <strong>{{ rule['param'+(i + 1)|string] }} {{ rule['sign'+(i + 1)|string] }} {{ rule['value'+(i + 1)|string] }}</strong>
                                    </span>
                                    {% if i != rule.conditions - 1 %}
                                        <span>and</span>
                                    {% endif %}
                                {% endfor %}

                                <span>for last <strong>{{ rule.days }}</strong> days,</span>

                                <span>
                                    then
                                    <strong>
                                        <span class="tag is-medium is-rounded is-white m-1">{{ rule.action }}</span>
                                    </strong>.
                                </span>
                            </p>
                        </div>
                        <div class="column has-text-right">
                            <a class="button is-small is-danger"
                               href="{{ url_for('campaigns_delete_rule', rule_id=rule.rule_id) }}">
                                <ion-icon name="trash-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <p>No rules here</p>
        {% endif %}
    </div>
{% endblock %}

{% block side_menu %}
    <div class="box">
        <aside class="menu">
            <div class="block">
                <div class="level-left">
                    <span class="icon-text">
                        <span class="icon">
                            <ion-icon class="has-text-link" size="large"
                                      name="cog-outline"></ion-icon>
                        </span>
                        <span class="subtitle ml-2">Campaign Rules</span>
                    </span>
                </div>
                <hr/>

                <p class="heading is-size-6 has-text-centered">Rules List</p>

                <hr/>
                <a href="{{ url_for('campaigns_add_rule') }}" class="navbar-item title is-6 m-0">
                     <span class="icon-text">
                        <span class="icon">
                            <ion-icon size="large" name="add-circle-outline"></ion-icon>
                        </span>
                        <span class="ml-2">Add rule for Campaign</span>
                    </span>
                </a>
            </div>
        </aside>
    </div>
{% endblock %}


