{% extends "message.html" %}

{% set pagination_source='current_sources' %}

{% set previous_link=url_for(
                        pagination_source,
                        page=pagination_data['previous'],
                        ts=ts if ts else None) %}

{% set next_link=url_for(
                        pagination_source,
                        page=pagination_data['next'],
                        ts=ts if ts else None) %}

{% set first_link=url_for(
                        pagination_source,
                        page=pagination_data['first'],
                        ts=ts if ts else None) %}

{% set current_link=url_for(
                        pagination_source,
                        page=pagination_data['current'],
                        ts=ts if ts else None) %}

{% set last_link=url_for(
                        pagination_source,
                        page=pagination_data['last'],
                        ts=ts if ts else None) %}


{% block panel %}
    <div class="level"></div>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block message_header %}
    <span class="icon-text">
        <span class="icon">
            <ion-icon size="large" name="stats-chart-outline"></ion-icon>
        </span>
        <span class="ml-2">Live SourceIds</span>
    </span>
{% endblock %}

{% block message_body %}
    <div class="table_div">
        {{ table|safe }}
    </div>
{% endblock %}

{% block side_menu %}
    <div class="box">
        <aside class="menu">
            <div class="block">
                <div class="level-left">
                    <span class="icon-text">
                        <span class="icon">
                            <ion-icon class="has-text-info" size="large"
                                      name="stats-chart-outline"></ion-icon>
                        </span>
                        <span class="subtitle ml-2">SourceIds</span>
                    </span>
                </div>

                <br/>

                <div class="buttons has-addons is-centered">
                    {% if ts == 'push_house' %}
                        <a class="button is-small is-rounded is-success is-selected"
                           href="{{ url_for('current_sources', ts="push_house") }}">
                            Push.House
                        </a>

                        <a class="button is-rounded is-small"
                           href="{{ url_for('current_sources', ts="ungads") }}">
                            Ungads
                        </a>
                    {% else %}
                        <a class="button is-small is-rounded"
                           href="{{ url_for('current_sources', ts="push_house") }}">
                            Push.House
                        </a>

                        <a class="button is-rounded is-small is-success is-selected"
                           href="{{ url_for('current_sources', ts="ungads") }}">
                            Ungads
                        </a>
                    {% endif %}
                </div>

                <hr/>

                <p class="heading is-size-6 has-text-centered">Live SourceIds</p>

                <hr/>
                <a href="{{ url_for('daily_sources', start=yesterday, end=yesterday, ts=ts) }}"
                   class="navbar-item title is-6 m-0">
                    <span class="icon-text">
                        <span class="icon">
                            <ion-icon size="large" name="filter-outline"></ion-icon>
                        </span>
                        <span class="ml-2">SourceIds by Days</span>
                    </span>
                </a>
                <a href="{{ url_for('sources_stats', ts=ts) }}" class="navbar-item title is-6 m-0">
                    <span class="icon-text">
                        <span class="icon">
                        <ion-icon size="large" name="pie-chart-outline"></ion-icon>
                        </span>
                        <span class="ml-2">SourceIds Stats</span>
                    </span>
                </a>
                <a href="{{ url_for('paused_sources') }}" class="navbar-item title is-6 m-0">
                    <span class="icon-text">
                        <span class="icon">
                            <ion-icon size="large" name="pause-circle-outline"></ion-icon>
                        </span>
                        <span class="ml-2">Paused SourceIds</span>
                    </span>
                </a>
            </div>
        </aside>
    </div>
{% endblock %}

