{% extends "message.html" %}

{% set pagination_source='current_sources' %}

{% set previous_link=url_for(
                        pagination_source,
                        page=pagination_data['previous']) %}

{% set next_link=url_for(
                        pagination_source,
                        page=pagination_data['next']) %}

{% set first_link=url_for(
                        pagination_source,
                        page=pagination_data['first']) %}

{% set current_link=url_for(
                        pagination_source,
                        page=pagination_data['current']) %}

{% set last_link=url_for(
                        pagination_source,
                        page=pagination_data['last']) %}


{% block panel %}
    <div class="level"></div>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block message_header %}
    <ion-icon size="large" name="stats-chart-outline"></ion-icon>
    <span class="pl-2">Live SourceIds</span>
{% endblock %}

{% block message_body %}
    <div class="table_div">
        {{ table|safe }}
    </div>
{% endblock %}

{% block side_menu %}
    <div class="box">
        <aside class="menu">
            <div class="block">
                <div class="level-left">
                    <ion-icon class="has-text-info" size="large"
                              name="stats-chart-outline"></ion-icon>
                    <span class="subtitle pl-2">SourceIds</span>
                </div>
                <hr/>

                <p class="heading is-size-6 has-text-centered">Live SourceIds</p>

                <hr/>
                <a href="{{ url_for('daily_sources') }}" class="navbar-item title is-6 m-0">
                    <div class="level">
                        <ion-icon size="large" name="filter-outline"></ion-icon>
                        <span class="is-hidden-mobile" style="margin-left: 10px">SourceIds by Days</span>
                    </div>
                </a>
                <a href="{{ url_for('sources_stats') }}" class="navbar-item title is-6 m-0">
                    <div class="level">
                        <ion-icon size="large" name="pie-chart-outline"></ion-icon>
                        <span class="is-hidden-mobile" style="margin-left: 10px">SourceIds Stats</span>
                    </div>
                </a>
            </div>
        </aside>
    </div>
{% endblock %}

