{% extends "message.html" %}

{% set pagination_source='daily_sources' %}

{% set previous_link=url_for(
                        pagination_source,
                        page=pagination_data['previous'],
                        start=start if start else None,
                        end=end if end else None,
                        ts=ts if ts else None) %}

{% set next_link=url_for(
                        pagination_source,
                        page=pagination_data['next'],
                        start=start if start else None,
                        end=end if end else None,
                        ts=ts if ts else None) %}

{% set first_link=url_for(
                        pagination_source,
                        page=pagination_data['first'],
                        start=start if start else None,
                        end=end if end else None,
                        ts=ts if ts else None) %}

{% set current_link=url_for(
                        pagination_source,
                        page=pagination_data['current'],
                        start=start if start else None,
                        end=end if end else None,
                        ts=ts if ts else None) %}

{% set last_link=url_for(
                        pagination_source,
                        page=pagination_data['last'],
                        start=start if start else None,
                        end=end if end else None,
                        ts=ts if ts else None) %}


{% block panel %}
    <div class="level"></div>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block message_header %}
    <ion-icon size="large" name="filter-outline"></ion-icon>
    {% if start and end %}
        <span class="pl-2">SourceIds for {{ start }}</span>
    {% else %}
        <span class="pl-2">SourceIds by Days</span>
    {% endif %}
{% endblock %}

{% block message_body %}
    <div class="table_div">
        {{ table|safe }}
    </div>
{% endblock %}

{% block side_menu %}
    <div class="box">
        <aside class="menu">
            <div class="block">
                <div class="level-left">
                    <ion-icon class="has-text-info" size="large"
                              name="stats-chart-outline"></ion-icon>
                    <span class="subtitle pl-2">SourceIds</span>
                </div>

                <br/>

                <div class="buttons has-addons is-centered">
                    {% if ts == 'push_house' %}
                        <a class="button is-small is-rounded is-success is-selected"
                           href="{{ url_for('daily_sources', ts="push_house") }}">
                            Push.House
                        </a>

                        <a class="button is-rounded is-small"
                           href="{{ url_for('daily_sources', ts="ungads") }}">
                            Ungads
                        </a>
                    {% else %}
                        <a class="button is-small is-rounded"
                           href="{{ url_for('daily_sources', ts="push_house") }}">
                            Push.House
                        </a>

                        <a class="button is-rounded is-small is-success is-selected"
                           href="{{ url_for('daily_sources', ts="ungads") }}">
                            Ungads
                        </a>
                    {% endif %}
                </div>

                <hr/>
                <p class="heading is-size-6 has-text-centered">By Days</p>

                <ul class="menu-list">
                    <li>
                        <div class="block p-3">
                            <form method="post">
                                <div class="field has-addons">
                                    <div class="control">
                                        <input class="input is-small" type="number"
                                               name="days_sources"
                                               placeholder="Enter number of days ago">
                                    </div>
                                    <div class="control">
                                        <input class="button is-info is-small" type="submit"
                                               value="Filter">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <li>
                        <a href="{{ url_for('daily_sources', start=yesterday, end=yesterday, ts=ts) }}"
                           class="navbar-item title is-6">
                            <div class="level-left">
                                <ion-icon name="today-outline"></ion-icon>
                                <span class="pl-2">Yesterday</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('daily_sources', start=three_days, end=three_days, ts=ts) }}"
                           class="navbar-item title is-6">
                            <div class="level-left">
                                <ion-icon name="calendar-outline"></ion-icon>
                                <span class="pl-2">3 days ago</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('daily_sources', start=week, end=week, ts=ts) }}"
                           class="navbar-item title is-6">
                            <div class="level-left">
                                <ion-icon name="calendar-outline"></ion-icon>
                                <span class="pl-2">7 days ago</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <hr/>
                <a href="{{ url_for('current_sources', ts=ts) }}" class="navbar-item title is-6 m-0">
                    <div class="level">
                        <ion-icon size="large" name="pulse-outline"></ion-icon>
                        <span class="is-hidden-mobile" style="margin-left: 10px">Live SourceIds</span>
                    </div>
                </a>
                <a href="{{ url_for('sources_stats', ts=ts) }}" class="navbar-item title is-6 m-0">
                    <div class="level">
                        <ion-icon size="large" name="pie-chart-outline"></ion-icon>
                        <span class="is-hidden-mobile" style="margin-left: 10px">SourceIds Stats</span>
                    </div>
                </a>
            </div>
        </aside>
    </div>
{% endblock %}
