{% extends "base.html" %}

{% block panel %}
    <div class="section"></div>
{% endblock %}

{% block content %}
    <div class="container box table_div">
        {% if logs|length > 0 %}
            {% for log in logs %}
                <div class="block subtitle is-6">
                    <div class="columns">
                        <div class="column is-1">
                            {% set record = log.split('-') %}
                            <p class="tag is-medium is-dark is-rounded mb-2">{{ record[0] }}</p>
                            <p class="tag is-medium is-light is-rounded">{{ record[1] }}</p>
                        </div>
                        <div class="column">
                            <span>{{ record[2] }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No logs here</p>
        {% endif %}
    </div>
{% endblock %}

{% block side_menu %}
    <div class="box">
        <aside class="menu">
            <div class="block">
                <div class="level-left">
                    <ion-icon class="has-text-link" size="large"
                              name="document-text-outline"></ion-icon>
                    <span class="subtitle pl-2">Logs of rules application</span>
                </div>
            </div>
        </aside>
    </div>
{% endblock %}
