{% extends "message.html" %}

{% block panel %}
    <div class="level"></div>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block message_header %}
    <span class="icon-text">
        <span class="icon">
            <ion-icon size="large" name="document-lock-outline"></ion-icon>
        </span>
        <span class="ml-2">TrafficSource Credentials</span>
    </span>
{% endblock %}

{% block message_body %}
    <div class="container">
        {% if creds_list %}
            {% for creds in creds_list %}
                <div class="block box subtitle is-6 pl-5 pr-5">
                    <a class="button is-small is-danger is-pulled-right"
                       href="{{ url_for('delete_ts_credentials', creds_id=creds.id) }}">
                        <ion-icon name="trash-outline"></ion-icon>
                    </a>
                    <span class="icon-text">
                        <span class="icon">
                            <ion-icon size="large" name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title is-5 ml-3"><strong>{{ creds.name }}</strong></span>
                    </span>
                    <hr/>
                    <p class="tag is-medium is-rounded is-success is-light">API Key: {{ creds.api_key }}</p>
                    <p class="tag is-medium is-rounded is-info is-light">URL: {{ creds.url }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No credentials here</p>
        {% endif %}
    </div>
{% endblock %}

{% block side_menu %}
    <div class="box">
        <aside class="menu">
            <div class="block">
                <div class="level-left">
                    <span class="icon-text">
                        <span class="icon">
                            <ion-icon class="has-text-link" size="large"
                                      name="document-lock-outline"></ion-icon>
                        </span>
                        <span class="subtitle ml-2">TS Credentials</span>
                    </span>
                </div>
                <hr/>
                <p class="heading is-size-6 has-text-centered">TS Credentials List</p>
                <hr/>
                <a href="{{ url_for('add_ts_credentials') }}" class="navbar-item title is-6 m-0">
                     <span class="icon-text">
                        <span class="icon">
                            <ion-icon size="large" name="add-circle-outline"></ion-icon>
                        </span>
                        <span class="ml-2">Add TS Credentials</span>
                    </span>
                </a>
            </div>
        </aside>
    </div>
{% endblock %}


