{% extends "message.html" %}

{% set pagination_source='stats_sources' %}

{% set previous_link=url_for(
                        pagination_source,
                        page=pagination_data['previous']) %}

{% set next_link=url_for(
                        pagination_source,
                        page=pagination_data['next']) %}

{% set first_link=url_for(
                        pagination_source,
                        page=pagination_data['first']) %}

{% set current_link=url_for(
                        pagination_source,
                        page=pagination_data['current']) %}

{% set last_link=url_for(
                        pagination_source,
                        page=pagination_data['last']) %}


{% block panel %}
    <div class="level"></div>
{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb pl-3">
        <ul>
            <li class="is-active">
                <a>
                    <ion-icon name="stats-chart-outline"></ion-icon>
                    <span class="pl-2">Traffic Sources</span>
                </a>
            </li>
            <li>
                <a href="">
                    <ion-icon name="list-outline"></ion-icon>
                    <span class="pl-2">Stats</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block message_header %}
    <ion-icon size="large" name="stats-chart-outline"></ion-icon>
    <span class="pl-2">Traffic Sources stats</span>
{% endblock %}

{% block message_body %}
    <div class="table_div">
        {{ table|safe }}
    </div>
{% endblock %}


