{% extends "message.html" %}

{% set pagination_source='stats_campaigns' %}

{% set previous_link=url_for(
                        pagination_source,
                        page=pagination_data['previous'],
                        start=start if start else None,
                        end=end if end else None)%}

{% set next_link=url_for(
                        pagination_source,
                        page=pagination_data['next'],
                        start=start if start else None,
                        end=end if end else None)%}

{% set first_link=url_for(
                        pagination_source,
                        page=pagination_data['first'],
                        start=start if start else None,
                        end=end if end else None)%}

{% set current_link=url_for(
                        pagination_source,
                        page=pagination_data['current'],
                        start=start if start else None,
                        end=end if end else None)%}

{% set last_link=url_for(
                        pagination_source,
                        page=pagination_data['last'],
                        start=start if start else None,
                        end=end if end else None)%}


{% block panel %}
    <div class="level"></div>
{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb pl-3">
        <ul>
            <li class="is-active">
                <a>
                    <ion-icon name="bar-chart-outline"></ion-icon>
                    <span class="pl-2">Сampaigns</span>
                </a>
            </li>
            <li>
                <a href="">
                    <ion-icon name="list-outline"></ion-icon>
                    <span class="pl-2">Stats</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block message_header %}
    <ion-icon size="large" name="bar-chart-outline"></ion-icon>
    <span class="pl-2">Campaigns stats</span>
{% endblock %}

{% block message_body %}
    <div class="table_div">
        {{ table|safe }}
    </div>
{% endblock %}


